

<form id='new_form'>
  <label for='email'>email:</label>
  <input name='email' type='string' />
  <label for='postcode:<label>
  <input name='postcode' type='text' />

  <input type='submit' id='download_ebook' value='Download ebook' />
<h1>This is the where where the postcode and email address will go</h1>

